@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

:root {
  --mainDark: #242325;
  --mainGreen: #61e786;
  --mainWhite: #fff;
  --mainGrey: #eeeeee;
}
body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}

/* global */
.text-green {
  color: var(--mainGreen);
}
.text-slant {
  font-family: "Caveat", cursive;
}
.btn-green {
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;
}
.btn-green:hover {
  color: var(--mainWhite);
  background: var(--mainGreen);
}
.title-underline {
  width: 12rem;
  height: 0.3rem;
  margin: 0 auto;
  border-radius: 2rem;
  position: relative;
}
.title-underline-center {
  position: absolute;
  width: 6rem;
  height: 0.6rem;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  background: var(--mainGreen);
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.blockquote {
  border-left: 0.5rem solid var(--mainGreen);
}
/* end of global */

/* navbar */
.navbar {
  background: var(--mainDark) !important;
}
.phone-icon {
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
  padding: 0.5rem;
  border-radius: 50%;
}
.banner-info {
  min-height: calc(100vh - 101px);
  position: relative;
}
.banner-img {
  min-height: calc(100vh - 101px);
  position: relative;
}
.banner-info_footer {
  background: var(--mainGreen);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.banner-img_footer {
  position: absolute;
  background: var(--mainDark);
  bottom: 0;
  left: 0;
  height: 88px;
  display: flex;
  align-items: center;
}
.banner-img {
  background: url(../img/bannerBcg.jpeg) center/cover fixed no-repeat;
}
/* end of navbar */

/* about section */
/* about img */
.img-container {
  position: relative;
}
.featured-icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.featured-icon-left {
  background: var(--mainDark);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}
.featured-icon-right {
  background: var(--mainGreen);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}
/* end of about ing */

/* about info */

/* end of about info */
/* end of about section */

/* featured properties */
.featured {
  background: var(--mainGrey);
}
/* end of featured properties */

/* contact */
.contact {
  background: var(--mainGreen);
  color: var(--mainWhite);
}
.btn-contact {
  border-color: var(--mainWhite);
  background: transparent;
  color: var(--mainWhite);
}
.btn-contact:hover {
  background: var(--mainWhite);
  color: var(--mainGreen);
}
/* end of contact */

/* services */
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bannerBcg.jpeg") center/cover fixed no-repeat;
}
.img-container {
  position: relative;
  align-self: center;
}
.services-info-text {
  color: var(--mainWhite) !important;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainGreen);
}
.services-info-text:hover {
  color: var(--mainDark) !important;
}
.services-info-icon {
  font-size: 2rem;
  border: 0.1rem solid var(--mainGreen);
  padding: 0.5rem;
  transition: all 1s ease-in-out;
  margin-right: 1rem;
}
.services-info-icon:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}
.service-link:hover {
  color: var(--mainWhite);
}
/* end of services */

/* gallery */
.gallery-img-container {
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.gallery-img {
  transition: all 1s ease-in-out;
}
.gallery-img-container:hover {
  background: rgba(0, 0, 0, 0.5);
}
.gallery-img-container:hover .gallery-img {
  opacity: 0.3;
}
.gallery-icon {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}
.gallery-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  background: var(--mainGreen);
  transform: translate(-50%, 100%);
  transition: all 0.5s ease-in-out;
}
.gallery-info:hover {
  color: black;
  text-decoration: none;
}
.gallery-img-container:hover .gallery-info {
  transform: translate(-50%, 0);
}
.btn-gallery:hover {
  color: var(--mainWhite);
  background: var(--mainGreen);
}
/* end of gallery */

/* tour */
.tour {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) ,url('../img/bannerBcg.jpeg') center/cover fixed no-repeat;
}
/* end of tour */

.footer {
  background: var(--mainDark);
}