@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

:root {
  --mainDark: #242325;
  --mainGreen: #61e786;
  --mainWhite: #fff;
  --mainGrey: #eeeeee;
}
body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}

/* global */
.text-green {
  color: var(--mainGreen);
}
.text-slant {
  font-family: 'Caveat' cursive;
}
.btn-green {
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;
}
.btn-green:hover {
  color: var(--mainWhite);
  background: var(--mainGreen);
}

/* navbar */
.navbar {
  background: var(--mainDark) !important;
}
.phone-icon i{
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
  padding: 0.5rem 0.2rem;
  
}
.btn-green {
  border-color: var(--mainGreen);
  color: var(--mainGreen);
  background: var(--mainDark);
}
.btn-green:hover {
  color: var(--mainWhite);
  background: var(--mainGreen);
}
